h1{
    color: cornflowerblue;
}
li{
    color: red;
    font-size: large;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(16, 148, 108);
}
a{
	text-decoration: none;
}

a:hover{
	background-color: darkblue;
	text-decoration: underline;
}

p:first-letter{
    color: darkslateblue;
    font-weight: bold;
    font-size: 200%;
}